/* estilos.css */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrinho-geral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor-fundo-principal);
}

.carrinho-header {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    
}

.carrinho-header h1 {
    font-size: 2rem;
    color: var(--cor-principal);
}

.carrinho-header__list {
    list-style: none;
    padding: 0;
}

.carrinho-header__list li {
    display: inline;
    margin: 0 15px;
}

.carrinho-header__list a {
    color: var(--cor-secundaria);
    font-weight: bold;
}

.carrinho-header__list a:hover {
    color: var(--cor-principal);
}

.carrinho-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-fundo-secundario);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 20%;
    height: 30%;
    box-sizing: border-box;
}

.carrinho-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.carrinho-form__input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.carrinho-form__btn {
    padding: 12px;
    background-color: var(--cor-botao);
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.carrinho-form__btn:hover {
    background-color: var(--cor-botao-hover);
}

.carrinho-form a {
    text-align: center;
    margin-top: 15px;
    color: var(--cor-secundaria);
    font-size: 0.9rem;
}

.carrinho-form a:hover {
    color: var(--cor-principal);
}