<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Carrinho de compras</title>
</head>
<body>
    <h1>Cadastro - Carrinho de compras</h1>
    <form action="/cadastrar/usuario" method="post">
        <input type="text" name="usuario" placeholder="Usuario...">
        <input type="text" name="nome" placeholder="Nome...">
        <input type="password" name="senha" placeholder="Senha...">
    </form>
</body>
</html>