<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cores.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-compras.css') }}">
</head>
<body>
    <h1>Boas-vindas, {{session['nome']}}!</h1>
    <p>Este é o nosso catálogo</p>

    <div class="catalogo">
        {% for produto in produtos %}
        <div class="card">
            <h2>{{produto.nome}}</h2>
            <h3>Categoria: {{produto.categoria}}</h3>
            <p>{{produto.descricao}}</p>
            <p class="preco">Preço: R$ {{produto.preco}}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>